<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style th:insert="blocks/style_blogDetails :: style_blogDetails"></style>
</head>
<body>

<div class="container">

<header th:insert="blocks/header :: header"></header>


    <div th:each ="el : ${post}" class="blogPosts">
        <h1 th:text="${el.title}"/>
        <p th:text="${el.fullText}"/>
        <p><b>Просмотры:</b> <span th:text="${el.views}" /></p>
        <a th:href="'/blog/' + ${el.id} + '/edit'" class="btnEdit">Редактировать</a>
        <form th:action="'/blog/' + ${el.id} + '/remove'" method="post"> <br>
        <button class="btnDelete" type="submit">Удалить</button>
        </form>
    </div>


<footer th:insert="blocks/footer :: footer"></footer>

</div>

</body>
</html>